*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 1080px;
    background-color: #464646;
}

/* Header */

header {
    width: 100%;
    height: 155px;
    background-color: white;
}

.white_band {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.white_band img {
    height: 97px;
    margin-bottom: 4px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4A4A4A;
    font-family: 'Alex Brush', light;
    font-size: 70px;
    font-weight: 100;
    margin-left: 19%;
}

.red_band {
    display: flex;
    align-items: center;
    background-color: #E05E5B;
    width: 100%;
    height: 50px;
    margin-top: 4px;
}

.red_band_button_pizza {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 140px;
    color: black;
    background-color: white;
    margin-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.red_band_button_boissons {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 140px;
    color: black;
    background-color: white;
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

/* Main */

main {
    height: 825px;
}

.main_menu {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 7% 93%;
    margin: 2% 2% 5% 2%;
    height: 800px;
    background-color: #FFFFFF;
    border-radius: 35px;
}

/* Partie Pizzas */

.pizzas {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 2% 5% 0% 6%;
    font-family: 'Alex Brush', light;
    font-size: 35px;
    font-weight: 100;
}

.menu_pizzas {
    grid-column: 1/2;
    display: flex;
    height: 710px;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 45px;
}

.pizzas_liste {
    display: grid;
    grid-template-rows: 17.2% 17.2% 17.2% 17.2% 17.2% 17.2%;
    grid-template-columns: 45% 45%;
    margin: 3% 2% 5% 2%;
    gap: 0% 10%;
    text-decoration: none;
    list-style-type: none;
}

.pizzas_liste li{
    display: flex;
    width: 450px;
    height: 99px;
    border: 1px solid #D9D9D9;
    border-radius: 92px;
    font-family: Arial, Helvetica, sans-serif;
}

.pizzas_liste li a {
    display: grid;
    width: 450px;
    grid-template-rows: 18% 30% 40%;
    grid-template-columns: 4% 74% 23%;
    text-decoration: none;
    color: black;
}

.pizza_description {
    grid-column: 2;
    grid-row: 2 / 3;
    font-size: 19px;
}

.pizza_ingrédients {
    margin-left: 3%;
    grid-column: 2;
    grid-row: 3 / 3;
    font-size: 19px;
}

.pizzas_liste li img{
    grid-column: 3;
    grid-row: 1 / 3;
    height: 99px;
}

/* Partie Boissons */

.boissons {
    grid-column: 2/2;
    grid-row: 1/2;
    margin: 5% 5% 0% 6%;
    font-family: 'Alex Brush', light;
    font-size: 35px;
    font-weight: 100;
}

.menu_boissons {
    grid-column: 2/2;
    display: flex;
    height: 710px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    border: 1px solid #D9D9D9;
    border-radius: 45px;
}

.boissons_liste {
    display: grid;
    grid-template-rows: 17.2% 17.2% 17.2% 17.2% 17.2% 17.2%;
    grid-template-columns: 80%;
    margin: 7% 2% 5% 2%;
    gap: 1.1% 0%;
    text-decoration: none;
    list-style-type: none;
}

.boissons_liste li{
    display: flex;
    width: 380px;
    height: 99px;
    border: 1px solid #D9D9D9;
    border-radius: 92px;
    font-family: Arial, Helvetica, sans-serif;
}

.boissons_liste li a {
    display: grid;
    width: 450px;
    grid-template-rows: 18% 30% 40%;
    grid-template-columns: 4% 74% 23%;
    text-decoration: none;
    color: black;
}

.boissons_description {
    grid-column: 2;
    grid-row: 2 / 3;
    font-size: 19px;
}

.boissons_quantité_prix {
    margin-left: 3%;
    grid-column: 2;
    grid-row: 3 / 3;
    font-size: 19px;
}

.boissons_liste li img{
    grid-column: 3;
    grid-row: 1 / 3;
    height: 90px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #06A19D;
}

footer a {
    text-decoration: none;
}

footer p {
    font-family: "Futura ND Alt W03 Light";
    font-weight: 500;
    margin-right: 22px;
    color: white;
}

@media screen and (max-width: 800px) {


    body {
        width: 100%;
        height: 100%;
        background-color: #464646;
    }

    h1 {
        display: none;
    }

    main {
        height: 100%;
    }

    .main_menu {
        display: grid;
        grid-template-columns: 0;
        grid-template-rows: 70% 47%;
        margin: 2% 2% 5% 2%;
        height: 135rem;
        background-color: none;
        border-radius: 35px;
    }

    .pizzas {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 2% 5% 0% 6%;
        font-family: 'Alex Brush', light;
        font-size: 35px;
        font-weight: 100;
        width: 200px;
    }

    .menu_pizzas {
            grid-row: 1/2;
            grid-column: 1/2;
            display: flex;
            height: 1433px;
            margin-top: 50px;
            margin-left: 30px;
            border: none;
            border-radius: 45px;
    }
    
    .pizzas_liste {
        display: grid;
        grid-template-rows: 7rem;
        grid-template-columns: 0;
        margin: 3% 2% 3% 0%;
        text-decoration: none;
        list-style-type: none;
    }

    .pizzas_liste li {
        display: flex;
        width: 350px;
        height: 99px;
        border: 1px solid #D9D9D9;
        border-radius: 92px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pizzas_liste li a {
        display: grid;
        width: 324px;
        grid-template-rows: 18% 30% 40%;
        grid-template-columns: 4% 74% 23%;
        text-decoration: none;
        color: black;
    }

    .pizza_description {
        grid-column: 2;
        grid-row: 2 / 3;
        font-size: 19px;
    }

    .pizza_ingrédients {
        margin-left: 3%;
        grid-column: 2;
        grid-row: 3 / 3;
        font-size: 19px;
    }

    .pizzas_liste li img {
        grid-column: 3;
        grid-row: 1 / 3;
        height: 99px;
    }

    .boissons {
        grid-column: 1/2;
        grid-row: 2/2;
        margin: 10% 5% 0% 6%;
        font-family: 'Alex Brush', light;
        font-size: 35px;
        font-weight: 100;
        margin-top: -40px;
    }

    .menu_boissons {
        grid-column: 1/2;
        grid-row: 2/2;
        display: flex;
        height: 780px;
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        border: none;
        border-radius: 45px;
    }

    .boissons_liste {
        display: grid;
        grid-template-rows: 17.2% 17.2% 17.2% 17.2%;
        grid-template-columns: 0%;
        margin: 7% 2% 5% 2%;
        gap: 1.1% 0%;
        text-decoration: none;
        list-style-type: none;
    }

    .boissons_liste li a {
        display: grid;
        width: 450px;
        grid-template-rows: 18% 30% 40%;
        grid-template-columns: 4% 74% 23%;
        text-decoration: none;
        color: black;
    }

    .boissons_description {
        grid-column: 2;
        grid-row: 2 / 3;
        font-size: 19px;
    }

    .boissons_quantité_prix {
        margin-left: 3%;
        grid-column: 2;
        grid-row: 3 / 3;
        font-size: 19px;
    }

    .boissons_liste li img {
        grid-column: 3;
        grid-row: 1 / 3;
        height: 90px;
    }

    footer p {
        font-family: "Futura ND Alt W03 Light";
        font-weight: 500;
        margin-right: 15px;
        margin-left: 15px;
        color: white;
    }
}