*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: max-content;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #06A19D;
}

header a {
    text-decoration: none;
}

header p {
    font-family: "Futura ND Alt W03 Light";
    font-weight: 500;
    margin-right: 22px;
    color: white;
}

/* Main */

.logo {
    display: flex;
    justify-content: center;
}

.logo_center {
    width: 290px;
    height: 80px;
    margin-top: 50px;
}

section {
    display: flex;
    flex-direction: row;
}

.contact {

    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact h1 {
    margin-left: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.contact p {
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.contact li {
    margin-left: 15%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.map{
    margin-right: 10%;
}

.map iframe {
    border-radius: 90px;
}

/* Footer */

footer img {
    display: flex;
    width: -webkit-fill-available;

}

@media screen and (max-width: 800px) {
    section {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .logo {
        margin-bottom: 75px;
    }

    .logo_side {
        height: 50px;
        margin-top: 75px;
    }

    .map iframe {
        display: flex;
        margin: 2% 2% 2% 2%;
        width: 410px;
    }
}